#content1{
  grid-area: content1;
  display: grid;
  justify-content: center;
  text-align:justify;
  position: relative;
  display: inline-block;
  border: 5px solid rgb(205, 208, 205);
  background-color: rgb(232, 236, 232);
   
}
#content1 img{
  width:32vw;
  padding: 6px;
}
#content1 .data{
  font-size:1vw; 
  color:white;
  position: absolute;
  top: 19vw;
  left: 1vw;

}
#content1 a {
  display: block;
  width: 100px;
  color: rgb(179, 176, 176);
  text-decoration: none;
  padding: 10px;
  margin-top: 15px;
  
}
#content1 p{
  align-items: center;
  font-size: 1.5vw;
  justify-content:flex-start;
  text-align: justify;
  color: black;
  padding: 10px;
}
#content1 div h4{
  background-color: #ec2651;
  position:relative;
  color: white;
  padding: 1vw;
  font-size: 18px; 
  left:0.5vw;
  width:31vw;    
}
#content2 {
  grid-area: content2;
  display: grid;
  justify-content: center;
  text-align:justify;
  position: relative;
  display: inline-block;
  border: 5px solid rgb(205, 208, 205);
  background-color: rgb(232, 236, 232);
}
#content2 img{
  width:32vw;
  padding: 6px;
}
#content2 .data{
  font-size:1vw; 
  color:white;
  position: absolute;
  top: 19vw;
  left: 1vw;
  
}
#content2 a {
  display: block;
  width: 100px;
  color: rgb(179, 176, 176);
  text-decoration: none;
  padding: 10px;
  margin-top: 15px;
  
}
#content2 p{
  align-items: center;
  font-size: 1.5vw;
  justify-content:flex-start;
  text-align: justify;
  color: black;
  padding: 10px;
}
#content2 div h4{
  background-color: #ec2651;
  position:relative;
  color: white;
  padding: 1vw;
  font-size: 18px; 
  left:0.5vw;
  width:31vw;    
}
#content3 {
  grid-area: content3;
  justify-content: center;
  text-align:justify;
  position: relative;
  display: inline-block;
  border: 5px solid rgb(205, 208, 205);
  background-color: rgb(232, 236, 232);
  }
#content3 img{
    width:32vw;
    padding: 6px;
  }
  #content3 .data{
    font-size:1vw; 
    color:white;
    position: absolute;
    top: 19vw;
    left: 1vw;
  }
  #content3 a {
    display: block;
    width: 100px;
    color: rgb(179, 176, 176);
    text-decoration: none;
    padding: 10px;
    margin-top: 15px;
    
  }
  #content3 p{
    align-items: center;
    font-size: 1.5vw;
    justify-content:flex-start;
    text-align: justify;
    color: black;
    padding: 10px;
  }
  #content3 div h4{
    background-color: #ec2651;
    position:relative;
    color: white;
    padding: 1vw;
    font-size: 18px; 
    left:0.5vw;
    width:31vw;    
  }